
{% extends "layout.html" %}

{% block content%}

  <div class="container">
    <p class="h3">About Us</p>
    <p class="text-align-left">We provide innovative tech solutions for
      businesses and academics. Our main goal is to enable students access to
      the world-class learning material through our platform. We provide online
      tutorials, past examinations papers, reading materials and blog posts
      explaining various science, engineering and social science concepts and
      innovations</p>
  </div>

{% endblock content %}
