<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

  {% if title %}
    <title>Lang Machines - {{title}}</title>
  {% else %}
    <title>Lang Machines</title>
  {% endif %}

</head>
<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel">

      <a class="navbar-brand" href="/">GEXA TECH</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavID" aria-controls="navbarNavID" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavID">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('main.home') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('main.documents') }}">Documents</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
          </li>
          {% if current_user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('uploads.new_upload') }}">New Upload</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('posts.new_post') }}">Create Post</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('users.account') }}">User Profile</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('users.logout') }}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('users.login') }}">Login</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('users.register') }}">Register</a>
            </li>
          {% endif %}
        </ul>

        <form action="" class="form-inline m-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

      </div>

    </nav>
  </header>

  <div class="container">
    <div class="row">

      <div class="col-md-8">
        {% with messages=get_flashed_messages(with_categories=True) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block content %} {% endblock %}
      </div>

      <div class="colmd-4">
        <div class="content-section">
          <h3>Resources</h3>
          <p class="text-muted">You can read or download past papers here.
          <ul>
            <a class="nav-link" href="{{ url_for('main.documents') }}">Resources </a>
            <li>Announcements</li>
            <li>Calendar</li>
            <li>etc</li>
          </ul>
        </p>
        </div>
      </div>

    </div>
  </div>
  <div class="container">
    <footer class="bg-light text-align-center text-lg-start">

      <div class="row">
        <div class="col-md-2">
          <ul class="list-inline">
            <li><a href="#" class="nav-link">Twitter</a></li>
            <li><a href="#" class="nav-link">Discord</a></li>
            <li><a href="#" class="nav-link">Reddit</a></li>
            <li><a href="#" class="nav-link">Instagram</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="list-inline">
            <li><a href="{{ url_for('main.home') }}" class="nav-link">Home</a></li>
            <li><a href="#" class="nav-link">Exam</a></li>
            <li><a href="#" class="nav-link">Bookmarks</a></li>
            <li><a href="{{ url_for('main.about') }}" class="nav-link">About</a></li>
          </ul>
        </div>
        <div class="col-md-8">
          <div class="container">
            <p class="h1">About Lang Macines</p>
            <p class="h5 text-align-left">We provide innovative tech solutions for businesses and academics. Our main goal is to enable students access to the world-class learning material through our platform. We provide online tutorials, past examinations papers, reading materials and blog posts explaining various science, engineering and social science concepts and innovations</p>
          </div>
        </div>
      </div>
      <div class="row text-align-center bg-steel">
        <div class="col-md-4 h3">
          Bull Mawat
        </div>
        <div class="col-md-8 h5">
          Genesys Alliance Technologies. Copyrights &copy 2020
        </div>
      </div>

    </footer>

  </div>


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>
